<header class="header">
  <img class="logo" src="./images/Tesla-Wordmark-Red.png" alt="Tesla Logo">
  <nav class="nav-center">
    <a href="#" class="nav-center__link link active">{{header.modelS}}</a>
    <a href="#" class="nav-center__link link">{{header.modelX}}</a>
    <a href="#" class="nav-center__link link">{{header.model3}}</a>
    <a href="#" class="nav-center__link link">{{header.roadster}}</a>
    <a href="#" class="nav-center__link link">{{header.energy}}</a>
  </nav>
  <nav class="nav-right">
    <a href="#" class="nav-right__link link">{{header.shop}}</a>
    <a href="#" class="nav-right__link link">{{header.entry}}</a>
    <div class="burger">
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
    </div>
  </nav>
</header>